# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates
      
version: 2
updates:
  - package-ecosystem: gradle
    directory: "/"
    schedule:
      interval: "daily"
      time: "10:00"
    open-pull-requests-limit: 1000
    reviewers:
      - "michaelbel"
    assignees:
      - "michaelbel"
      
#  ignore:
#  - dependency-name: com.squareup.okhttp3:logging-interceptor
#    versions: "> 3.12.10"
