<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.michaelbel.template">

    <uses-feature android:name="android.hardware.bluetooth" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature android:name="android.software.leanback" android:required="false"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" tools:ignore="LeanbackUsesWifi"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.INTERNET" tools:ignore="LeanbackUsesWifi"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!--androidx.draganddrop minSdk 24-->
    <!--androidx.health.services.client minSdk 30-->
    <!--androidx.heifwriter minSdk 28-->
    <!--androidx.security.identity.credential minSdk 24-->
    <!--androidx.wear minSdk 23-->
    <!--androidx.wear.compose.foundation minSdk 25-->
    <!--androidx.wear.compose.material minSdk 25-->
    <!--androidx.wear.compose.navigation minSdk 25-->
    <!--androidx.wear.input.testing minSdk 25-->
    <!--androidx.wear.ongoing minSdk 25-->
    <!--androidx.wear.phone.interactions minSdk 25-->
    <!--androidx.wear.remote.interactions minSdk 23-->
    <!--androidx.wear.tiles minSdk 25-->
    <!--androidx.wear.watchface.client minSdk 26-->
    <!--androidx.wear.watchface.complications.datasource.ktx minSdk 26-->
    <!--androidx.wear.watchface.editor minSdk 26-->
    <!--androidx.wear.watchface.style minSdk 26-->
    <!--android.support.wearable.watchface minSdk 26-->
    <uses-sdk
        tools:overrideLibrary="
            androidx.draganddrop,
            androidx.health.services.client,
            androidx.heifwriter,
            androidx.security.identity.credential,
            androidx.wear,
            androidx.wear.compose.foundation,
            androidx.wear.compose.material,
            androidx.wear.compose.navigation,
            androidx.wear.input.testing,
            androidx.wear.ongoing,
            androidx.wear.phone.interactions,
            androidx.wear.remote.interactions,
            androidx.wear.tiles,
            androidx.wear.watchface.client,
            androidx.wear.watchface.complications.datasource.ktx,
            androidx.wear.watchface.editor,
            androidx.wear.watchface.style,
            android.support.wearable.watchface"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:appCategory="productivity"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting"
        tools:ignore="AllowBackup,MissingTvBanner,UnusedAttribute">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>

            <!--<intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="http"
                    android:host="main.community"/>
                <data
                    android:scheme="https"
                    android:host="main.community"/>
            </intent-filter>-->

            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".ComposeActivity2"
            android:exported="false"/>

        <activity
            android:name=".features.compose.ComposeActivity"
            android:exported="false"/>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>

        <!-- Downloadable Fonts (https://d.android.com/guide/topics/ui/look-and-feel/downloadable-fonts) -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts"/>

    </application>

</manifest>