name: CI

# Управление запуском рабочего процесса. 
# Триггерится по запросам push и pull в ветку master.
on:
#  push:
#    branches: [ master ]
#  pull_request:
#    branches: [ master, develop ]

  workflow_dispatch:
  
env:
  KEYSTORE_FILE: $ {{ secrets.KEYSTORE_FILE }}
  KEYSTORE_KEY_ALIAS: ${{ secrets.KEYSTORE_KEY_ALIAS }}
  KEYSTORE_KEY_PASSWORD: ${{ secrets.KEYSTORE_KEY_PASSWORD }}
  KEYSTORE_STORE_PASSWORD: ${{ secrets.KEYSTORE_STORE_PASSWORD }}  

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Decode Keystore
        id: decode_keystore
        uses: timheuer/base64-to-file@v1
        with:
          fileName: 'config/keystore.jks'
          encodedString: KEYSTORE_FILE
      
      - uses: actions/checkout@v2
      
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
          
      - uses: eskatos/gradle-command-action@v1
        with:
          arguments: runOnGitHub
          wrapper-cache-enabled: true
          dependencies-cache-enabled: true
          configuration-cache-enabled: true
          
      - name: Make Gradlew Executable
        run: chmod +x ./gradlew
        
      - name: Run Unit Tests
        run: ./gradlew test
        
      - name: Build Debug APK
        run: ./gradlew app:assembleDebug
          
      - name: Upload Debug APK to Outputs
        uses: actions/upload-artifact@v2
        with:
          name: Build Artifacts
          path: app/build/outputs/
          
      - name: Set release name
        run: echo ::set-env name=RELEASE_NAME::$(echo ${GITHUB_REF:11})   
          
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ env.RELEASE_NAME }}
          body: |
            What is new :
              - First Change
              - Second Change
          draft: false
          prerelease: false
